@mixin img-lg{
  height: 10rem !important;
  width: 10rem;
}

.text-light-custom{
  color: white;
  font-size: 1.7rem;
}
.h6-size{
  text-align: center;
}
@media (min-width: 1281px) {
  .text-light-custom{
    color: white;
  }
  .border-custom{
    border: 1px solid white;
    border-radius: 3rem;
  }
  
.img-custom {
  height: 20rem;
  width: 20rem;
}

.h6-size{
  font-size: 3rem;
  text-align: center;
}

li{
  font-size: 2rem;
}
p{
  font-size: 2rem;
}
a{
  font-size: 2rem;
}
.text-light-custom{
  font-size: 2rem;
}
}
@mixin img-lg{
  height: 7rem !important;
  width: 7rem;
}

@media (max-width: 768px) {
  
.img-custom {
  @include img-lg();
}

.h6-size{
  font-size: 1rem;
  text-align: center;
}

.text-light-custom{
  color: white;
  font-size: 2rem;
}
}
@media (max-width: 524px){
  .text-light-custom{
    color: white;
    font-size: 1rem;
  }
}
