@import 'cards';
@import 'variables';
@import 'qr';
@import 'menu-nav';

.bg-1{
  background-color: $primary-color;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .bg-1{
    background-color: rgb(87, 165, 42);
    
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bg-1{
    background-color: brown;
  }
}